* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100%;
}

body {
	background-color: rgb(250, 250, 250);
	padding-bottom: 40px; /* for footer adjustment */
	position:relative;
}

header {
	position: relative;
	height: 70px;
	width: 100%;
	border-bottom: 2px solid rgb(219, 229, 230);
	/*margin-bottom: 30px;*/

}

header .logo {
	width: 200px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


footer {
	position: absolute;
	bottom: 0px;
	height: 40px;
	width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

footer .copyright {
	width: 100%;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

.copyright a {
	text-decoration: underline;
	color: #fff;
}

.copyright a:hover {
	text-decoration: none;
	color: #ccc;
}

.purple-color-1 {
	/*color: #ac006b;*/
	/*color: #bc0f7b;*/
	color: #b90074;
}

.purple-bg-1 {
	background-color: #900059 /*#aa0069*/
}

.comics-bg {
	position: relative;
}


.comics-bg:before {
	content: "";
	background: rgba(39,62,84);
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -2;
}

.comics-bg:after {
	content: "";
	background: url('../img/bg/comics.jpg');
	background-position: left center;
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -3;
}

.project {
	position: relative;
	display: block;
	background-color: #fff;
	border: 0.5px solid rgb(219, 229, 230); /* FIXX */
	width: 280px;
	height: 550px;
	margin: 25px auto;
	box-shadow: 5px 6px 10px #8888884d;
	transition: all .2s ease-in-out;
	margin-top: 45px;
}

.project:hover {
	transform: scale(1.05);
}

.projects-header * {
	line-height: 1.5 !important;
}

.project-info {
	height: 350px;
	padding: 20px;
	position: relative;
	padding-bottom: 70px; /* mostly used for buttons absolute adjustment */
}

.project-info p {
	margin: 0;
}

.project-img {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 200px; /* approximately 3:4 ratio crop images using https://croppola.com */
}

.main-wrapper {
	padding-top: 30px;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.project-list {
	padding-top: 30px;
}

.project-list, .used-skills {
	list-style-type: none;
}

.used-skills {
	height: 60px;
	padding-bottom: 20px;
	font-size: 90%;
	font-weight: 700;
}

.used-skills li {
	padding: 2px;
}

.html::after {
	content: "HTML";
	color: #e11171;
}

.css::after {
	content: "CSS";
	color: #005bbc;
}

.bootstrap::after {
	content: "Bootstrap";
	color: #0c9fb6;
}

.js::after {
	content: "JavaScript";
	color: #dc3545;
}

.python::after {
	content: "Python";
	color: #f6760c;
}

.sql::after {
	content: "SQL";
	color: #007bff;
}

.project-buttons-div {
	position: absolute;
	bottom: 20px;
}

/* overwrite bootstrap primary button color attributes */
.btn-primary {
    color: #fff;
    background-color: #900059;
    border-color: #900059;
}

.btn-primary:hover {
	color: #e2e2e2;
    background-color: #740b4c;
    border-color:#740b4c;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem #900059
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #900059c7;
    border-color: #2e7c7c10;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #900059c7;
}

.btn-outline-primary {
    color: #900059;
    background-color: transparent;
    border-color: #900059;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #900059;
    border-color: #900059;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #900059;
    border-color: #900059
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #900059;
}

.bouncy {
	animation: bouncy 5s infinite linear;
    position: relative;
}


@keyframes bouncy {
	0%{top:0em}
	40%{top:0em}
	43%{top:-0.8em}
	46%{top:0em}
	48%{top:-0.4em}
	50%{top:0em}
	100%{top:0em;}
}

.games-wrapper {
	max-width: 324px;
	margin: 0 auto;
}

.project-types-cards li {
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: white;
	box-shadow: 20px 15px 45px rgba(0, 0, 0, 0.4);
	text-align: center;
	display: inline-block;
	transition-duration: 0.35s;
}


.project-types-cards li:hover, .project-types-cards li a:hover {
	background-color: #840152;
	transform: scale(1.1);
}

.project-types-cards li a {
	text-decoration: none;
	color: #b90074;
}
.project-types-cards li a:hover {
	text-decoration: none;
	color: white;
}

.project-types-cards i {
	font-size: 2.5em;
	padding-bottom: 16px;
}


.fade-in-effect {
	display: inline-block;
    opacity: 0;
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -ms-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2);
    -webkit-transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
    -moz-transition: opacity .5s ease-out, -moz-transform .5s ease-out;
    -o-transition: opacity .5s ease-out, -o-transform .5s ease-out;
    transition: opacity .5s ease-out, transform .5s ease-out;
}

.paper-plane {
	margin-left: 12px;
	margin-bottom: 20px;
}


.game-title-bar {
	height: 50px;
}

.game-icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#lollibird-icon {
	background-image: url('../img/Games/lollibird.png');
	transform: scale(-0.9, 1);
}

#sugarboy-icon {
	background-image: url('../img/Games/sugarboy.png');
	transform: scale(-1.4, 1.4);
}

.game-content {
	position: relative;
	-webkit-box-shadow: 0px 16px 46px -19px rgba(0,0,0,1);
	-moz-box-shadow: 0px 16px 46px -19px rgba(0,0,0,1);
	box-shadow: 0px 16px 46px -19px rgba(0,0,0,1);
	padding-bottom: 90px;
	min-height: 480px;
}

.game-content:after {
	content: '';
	position: absolute;
	background-color: white;
	opacity: 1;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.game-tag {
	display: inline-block;
	height: 21px;
	margin: 3px 8px;
	padding: 0 7px 0 14px;
	white-space: nowrap;
	position: relative;
	background: -moz-linear-gradient(top, #fed970 0%, #febc4a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed970), color-stop(100%,#febc4a));
	background: -webkit-linear-gradient(top, #fed970 0%,#febc4a 100%);
	background: -o-linear-gradient(top, #fed970 0%,#febc4a 100%);
	background: linear-gradient(to bottom, #fed970 0%,#febc4a 100%);
	background-color: #FEC95B;
	color: #963;
	font: bold 11px/21px Arial, Tahoma, sans-serif;
	text-decoration: none;
	text-shadow: 0 1px rgba(255,255,255,0.4);
	border-top: 1px solid #EDB14A;
	border-bottom: 1px solid #CE922E;
	border-right: 1px solid #DCA03B;
	border-radius: 1px 3px 3px 1px;
	box-shadow: inset 0 1px #FEE395, 0 1px 2px rgba(0,0,0,0.21);
}

.game-tag:before {
	content: '';
	position: absolute;
	top: 5px;
	left: -6px;
	width: 10px;
	height: 10px;
	background: -moz-linear-gradient(45deg, #fed970 0%, #febc4a 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#fed970), color-stop(100%,#febc4a));
	background: -webkit-linear-gradient(-45deg, #fed970 0%,#febc4a 100%);
	background: -o-linear-gradient(45deg, #fed970 0%,#febc4a 100%);
	background: linear-gradient(135deg, #fed970 0%,#febc4a 100%);
	background-color: #FEC95B;
	border-left: 1px solid #EDB14A;
	border-bottom: 1px solid #CE922E;
	border-radius: 0 0 0 2px;
	box-shadow: inset 1px 0 #FEDB7C, 0 2px 2px -2px rgba(0,0,0,0.33);
	-webkit-transform: scale(1, 1.5) rotate(45deg);
	 -moz-transform: scale(1, 1.5) rotate(45deg);
	  -ms-transform: scale(1, 1.5) rotate(45deg);
	      transform: scale(1, 1.5) rotate(45deg);
}

.game-tag:after { 
	content: '';
	position: absolute;
	top: 7px;
	left: 1px;
	width: 5px;
	height: 5px;
	background: #FFF;
	border-radius: 4px;
	border: 1px solid #DCA03B;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.21);
}  


@media only screen and (min-width: 768px) {
	.project-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	.project {
		margin-right: 30px;
		margin-left: 30px;
	}

}
@media only screen and (min-width: 1440px) {
	.main-wrapper {
		width: 70%;
	}
}


@media only screen and (min-height: 746px) {
	.bg-container {
		padding-bottom: 70px;
	}


@media only screen and (min-height: 816px) {
	.bg-container {
		padding-top: 20px;
		padding-bottom: 120px !important;
	}
	.projects-header h1 {
		font-size: 4em;
	}
	.projects-header h4 {
		font-size: 2.3em;
	}