<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Ben's Website</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}"/>		
		<!-- mobile compatibility -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- styles -->
		<!-- bootstrap related - latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<!-- website-specific css & js -->
		<script src="{{ url_for('static', filename='js/script.js') }}" crossorigin="anonymous" defer></script>
		<link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet" type="text/css" >
		<!-- bootstrap related - jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
		<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
		<!-- bootstrap related - Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<!-- bootstrap related - Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<!-- Font Awesome -->
		<script src="https://kit.fontawesome.com/129cd72893.js" crossorigin="anonymous"></script>
	</head>

	<body>
		<header>
			<h3 class="d-inline font-italic logo">
				<span class="purple-color-1 font-weight-bold">&lt;</span>Ben's Site<span class="purple-color-1 font-weight-bold">&gt;</span>
			</h3>
		<!--<nav class=""></nav> -->
		</header>
		<div class="bg-container purple-bg-1 pb-3 shadow-lg">
			<div class="main-wrapper">
				<div class="projects-header text-center text-white row justify-content-center">
					<h1 class="col-12 col-sm-12">
						   <span class="fade-in-effect" style="transition-delay: 700ms;">W</span><!--
						--><span class="fade-in-effect" style="transition-delay: 500ms;">e</span><!--
						--><span class="fade-in-effect" style="transition-delay: 150ms;">l</span><!--
						--><span class="fade-in-effect" style="transition-delay: 300ms;">c</span><!--
						--><span class="fade-in-effect" style="transition-delay: 800ms;">o</span><!--
						--><span class="fade-in-effect" style="transition-delay: 550ms;">m</span><!--
						--><span class="fade-in-effect" style="transition-delay: 100ms;">e</span>
					</h1>
					<h4 class="pt-3 col-12 col-sm-12 col-md-10 col-lg-4">Take a look at some of my projects</h4>
				</div>
				<ul id="index-project-types-container" class="project-types-cards row justify-content-center my-5">
					<li class="col-10 col-sm-6 col-lg-5 col-xl-4 my-4">
						<a href="./web-projects">
							<div>
								<i class="fab fa-chrome"></i>
								<h3>Web Projects</h3>
							</div>
						</a>
					</li>
					<div class="w-100"></div>
					<li class="col-10 col-sm-6 col-lg-5 col-xl-4 my-4">
						<a href="./games-dev">
							<div>
								<i class="fas fa-trophy"></i>
								<h3>Games Dev</h3>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<footer class="purple-bg-1 text-white rounded-0 shadow-lg">
			<p class="copyright">© 2020 Copyright:
				<a class="" href="https://www.linkedin.com/in/ben-lahav-018450148/" target="_blank"> Ben Lahav</a>
			</p>
		</footer>
	</body>
</html>