<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Web Projects | Ben's Website</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}"/>		
		<!-- mobile compatibility -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- styles -->
		<!-- bootstrap related - latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<!-- website-specific css & js -->
		<script src="{{ url_for('static', filename='js/script.js') }}" crossorigin="anonymous"></script>
		<link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet" type="text/css" >
		<!-- bootstrap related - jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
		<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
		<!-- bootstrap related - Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<!-- bootstrap related - Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<!-- Font Awesome -->
		<script src="https://kit.fontawesome.com/129cd72893.js" crossorigin="anonymous"></script>
	</head>

	<body>
		<header>
			<h3 class="d-inline font-italic logo">
				<span class="purple-color-1 font-weight-bold">&lt;</span>Ben's Site<span class="purple-color-1 font-weight-bold">&gt;</span>
			</h3>
<!-- 			<nav class="">
			</nav> -->
		</header>
		
		<div class="main-wrapper">
			<div class="projects-header text-center">
				<h1>Web Projects</h1>
				<h4 class="pt-3">Check out the <br><span class="purple-color-1">web-based</span> projects!</h4>
			</div>
			<ul class="project-list">
				<li class="project">
					<a href="http://benproject.pythonanywhere.com/" target="_blank">
						<div class="project-img" style="background-image: url('./static/img/projects/digitalml.jpg');"></div>
					</a>
					<div class="project-info">
						<ul class="used-skills">
							<li class="html d-inline"></li>
							<li class="css d-inline"></li>
							<li class="bootstrap d-inline"></li>
							<li class="js d-inline"></li>
							<li class="python d-inline"></li>
						</ul>
						<h5>DigitalML</h5>
						<p>Designed as a demo for a non-existent ML enterprise.<br>Made mostly for self-improvement purposes.<br>Don't forget trying out the <i>Digenerator</i>! &#128515</p>
						<div class="project-buttons-div">
							<a target="_blank" class="btn btn-primary bouncy" href="http://benproject.pythonanywhere.com/">
								View Project
							</a>
							<a target="_blank" class="btn btn-outline-primary bouncy" style="animation-delay: 0.07s" href="https://github.com/putskan/DigitalML">
								GitHub
							</a>
						</div>
					</div>
				</li>

				<li class="project">
					<a href="https://github.com/putskan/Ethi-s-Schnitzel" target="_blank">
						<div class="project-img" style="background-image: url('./static/img/projects/CyberArray.jpg');"></div>
					</a>
					<div class="project-info">
						<ul class="used-skills">
							<li class="html d-inline"></li>
							<li class="css d-inline"></li>
							<li class="js d-inline"></li>
							<li class="python d-inline"></li>
							<li class="sql d-inline"></li>							
						</ul>
						<h5>CyberArray</h5>
						<p>Cyber-looking, CLI-ish quiz for the Cyber Officers IDF course (i.e Kamanim).<br>Being currently used in the course. That was pretty much my first web project.</p>
						<div class="project-buttons-div">
							<a target="_blank" class="btn btn-outline-primary bouncy" style="animation-delay: 0.07s" href="https://github.com/putskan/Ethi-s-Schnitzel">
								GitHub
							</a>
						</div>
					</div>
				</li>

				<li class="project">
					<a href="https://kamanaman101.pythonanywhere.com/" target="_blank">
						<div class="project-img" style="background-image: url('./static/img/projects/KamanAman.jpg');"></div>
					</a>
					<div class="project-info">
						<ul class="used-skills">
							<li class="html d-inline"></li>
							<li class="css d-inline"></li>
							<li class="bootstrap d-inline"></li>
							<li class="js d-inline"></li>
							<li class="python d-inline"></li>
							<li class="sql d-inline"></li>							
						</ul>
						<h5>Bahad 15</h5>
						<p>Created for an intelligence IDF Training Base, for the simplification of reception days.<br>Please do not submit any of the forms, due to the active use of the website by the staff.</p>
						<div class="project-buttons-div">
							<a target="_blank" class="btn btn-primary bouncy" href="https://kamanaman101.pythonanywhere.com/">
								View Project
							</a>
							<a target="_blank" class="btn btn-outline-primary bouncy" style="animation-delay: 0.07s" href="https://github.com/putskan/bahad15">
								GitHub
							</a>
						</div>
					</div>
				</li>

				<li class="project">
					<a href="https://www.google.com/search?sxsrf=ALeKk02FR6q4XqoJXlQoXc7mBsNjf-DGFg:1598185612077&q=recursion&spell=1&sa=X&ved=2ahUKEwiEgcWtqbHrAhXox4UKHQ_mBy8QBSgAegQIDxAr&biw=1745&bih=836" target="_blank">
						<div class="project-img" style="background-image: url('./static/img/projects/bens-site.jpg');"></div>
					</a>
					<div class="project-info">
						<ul class="used-skills">
							<li class="html d-inline"></li>
							<li class="css d-inline"></li>
							<li class="bootstrap d-inline"></li>
						</ul>
						<h5>Ben's Website</h5>
						<p>The website you're currently visiting &#128517.<br><br>
						<div class="project-buttons-div">
							<a target="_blank" class="btn btn-primary bouncy" href="https://www.google.com/search?sxsrf=ALeKk02FR6q4XqoJXlQoXc7mBsNjf-DGFg:1598185612077&q=recursion&spell=1&sa=X&ved=2ahUKEwiEgcWtqbHrAhXox4UKHQ_mBy8QBSgAegQIDxAr&biw=1745&bih=836">
								View Project
							</a>
							<a target="_blank" class="btn btn-outline-primary bouncy" style="animation-delay: 0.07s" href="https://www.google.com/search?sxsrf=ALeKk02FR6q4XqoJXlQoXc7mBsNjf-DGFg:1598185612077&q=recursion&spell=1&sa=X&ved=2ahUKEwiEgcWtqbHrAhXox4UKHQ_mBy8QBSgAegQIDxAr&biw=1745&bih=836">
								GitHub
							</a>
						</div>
					</div>
				</li>
				
				<li class="project">
					<a href="http://mule9003.pythonanywhere.com/" target="_blank">
						<div class="project-img" style="background-image: url('./static/img/projects/clown.jpg');"></div>
					</a>
					<div class="project-info">
						<ul class="used-skills">
							<li class="html d-inline"></li>
							<li class="css d-inline"></li>
							<li class="bootstrap d-inline"></li>
							<li class="js d-inline"></li>
							<li class="python d-inline"></li>
						</ul>
						<h5>Clown Website</h5>
						<p>Made with &#10084; for an entertainment business.<br><br>Is not yet finished and fully responsive.</p>
						<div class="project-buttons-div">
							<a target="_blank" class="btn btn-primary bouncy" href="http://mule9003.pythonanywhere.com/">
								View Project
							</a>
							<a target="_blank" class="btn btn-outline-primary bouncy" style="animation-delay: 0.07s" href="https://github.com/putskan/yarden-itach-website">
								GitHub
							</a>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<footer class="purple-bg-1 text-white">
			<p class="copyright">© 2020 Copyright:
				<a class="" href="https://www.linkedin.com/in/ben-lahav-018450148/" target="_blank"> Ben Lahav</a>
			</p>
		</footer>
	</body>
</html>